<footer class="footer">
    <div class="cotnainer">
        <div class="footer__body">
            <div class="main_element">
                <img src="../images/dist/footer_logo.svg" alt="">
                <p class="desk">
                    Партнерство с ИП «Кулько» — это
                    возможность оптимизировать ваши
                    расходы и сэкономить драгоценное
                    время.
                </p>
                <span class="desk">ИП «Кулько» © 2025. Все права защищены.</span>
            </div>
            <div class="menu_element">
                <span>Документы</span>
                <ul>
                    <li>
                        <a href="">Лицензии МЧС России</a>
                    </li>
                    <li>
                        <a href="">Сертификаты соответствия</a>
                    </li>
                    <li>
                        <a href="">Политика конфиденциальности</a>
                    </li>
                    <li>
                        <a href="">Портфолио проектов</a>
                    </li>
                    <li>
                        <a href="">Гарантийные обязательства</a>
                    </li>
                </ul>
            </div>
            <div class="main_element mob">
                <p class="">
                    Партнерство с ИП «Кулько» — это
                    возможность оптимизировать ваши
                    расходы и сэкономить драгоценное
                    время.
                </p>
            </div>
            <div class="action_element">
                <div class="number">
                    <span>Номер для связи</span>
                    <a href="">+7 918
                        345-63-21</a>
                </div>
                <button class="target">
                    Заказать звонок
                </button>
            </div>
            <div class="main_element mob">
                <span class="">ИП «Кулько» © 2025. Все права защищены.</span>
            </div>
        </div>
    </div>
</footer>