<main class="main">
    <div class="container">
        <div class="main__body">
            <div class="splide" id="main" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81282 14.8493H21.1872" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M15 8.66211L21.1872 14.8493L15 21.0365" stroke="white" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button class="splide__arrow splide__arrow--next">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81282 14.8493H21.1872" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M15 8.66211L21.1872 14.8493L15 21.0365" stroke="white" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide"
                            style="background: url(../images/dist/main__back-desk.webp) center no-repeat;background-size: cover;">
                            <div class="grad"></div>
                            <div class="splide__slide-info">
                                <h3>Добро пожаловать на сайт компании ИП «Кулько»!</h3>
                                <p>Комплексные решения в области пожарной безопасности,
                                    видеонаблюдения и охранных систем для коммерческих
                                    объектов в Краснодарском крае, ЮФО и СКФО</p>
                            </div>
                            <div class="splide__slide-wrap">
                                <div class="splide__slide-wrap-attr">
                                    <div class="item">
                                        <span>500+</span>
                                        <p>Проектов</p>
                                    </div>
                                    <div class="item">
                                        <span>24/7</span>
                                        <p>Поддержка</p>
                                    </div>
                                    <div class="item">
                                        <span>15+</span>
                                        <p>Лет опыта</p>
                                    </div>
                                </div>
                                <button class="target">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.59375 1.78125C0.25 1.875 0 2.15625 0 2.5C0 10.5312 6.5 17 14.5 17C14.875 17 15.1562 16.7812 15.25 16.4375L16 13.1875C16.0625 12.8438 15.9062 12.4688 15.5625 12.3125L12.0625 10.8125C11.75 10.6875 11.4062 10.7812 11.1875 11.0312L9.625 12.9375C7.1875 11.7812 5.21875 9.78125 4.09375 7.40625L6 5.84375C6.25 5.625 6.34375 5.28125 6.21875 4.96875L4.71875 1.46875C4.5625 1.125 4.1875 0.9375 3.84375 1.03125L0.59375 1.78125Z"
                                            fill="white" />
                                    </svg>
                                    <span>Обратный звонок</span>
                                </button>
                            </div>
                        </li>
                        <li class="splide__slide"
                            style="background: url(../images/dist/main__back-desk.webp) center no-repeat;background-size: cover;">
                            <div class="grad"></div>
                            <div class="splide__slide-info">
                                <h3>Добро пожаловать на сайт компании ИП «Кулько»!</h3>
                                <p>Комплексные решения в области пожарной безопасности,
                                    видеонаблюдения и охранных систем для коммерческих
                                    объектов в Краснодарском крае, ЮФО и СКФО</p>
                            </div>
                            <div class="splide__slide-wrap">
                                <div class="splide__slide-wrap-attr">
                                    <div class="item">
                                        <span>500+</span>
                                        <p>Проектов</p>
                                    </div>
                                    <div class="item">
                                        <span>24/7</span>
                                        <p>Поддержка</p>
                                    </div>
                                    <div class="item">
                                        <span>15+</span>
                                        <p>Лет опыта</p>
                                    </div>
                                </div>
                                <button class="target">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.59375 1.78125C0.25 1.875 0 2.15625 0 2.5C0 10.5312 6.5 17 14.5 17C14.875 17 15.1562 16.7812 15.25 16.4375L16 13.1875C16.0625 12.8438 15.9062 12.4688 15.5625 12.3125L12.0625 10.8125C11.75 10.6875 11.4062 10.7812 11.1875 11.0312L9.625 12.9375C7.1875 11.7812 5.21875 9.78125 4.09375 7.40625L6 5.84375C6.25 5.625 6.34375 5.28125 6.21875 4.96875L4.71875 1.46875C4.5625 1.125 4.1875 0.9375 3.84375 1.03125L0.59375 1.78125Z"
                                            fill="white" />
                                    </svg>
                                    <span>Обратный звонок</span>
                                </button>
                            </div>
                        </li>
                        <li class="splide__slide"
                            style="background: url(../images/dist/main__back-desk.webp) center no-repeat;background-size: cover;">
                            <div class="grad"></div>
                            <div class="splide__slide-info">
                                <h3>Добро пожаловать на сайт компании ИП «Кулько»!</h3>
                                <p>Комплексные решения в области пожарной безопасности,
                                    видеонаблюдения и охранных систем для коммерческих
                                    объектов в Краснодарском крае, ЮФО и СКФО</p>
                            </div>
                            <div class="splide__slide-wrap">
                                <div class="splide__slide-wrap-attr">
                                    <div class="item">
                                        <span>500+</span>
                                        <p>Проектов</p>
                                    </div>
                                    <div class="item">
                                        <span>24/7</span>
                                        <p>Поддержка</p>
                                    </div>
                                    <div class="item">
                                        <span>15+</span>
                                        <p>Лет опыта</p>
                                    </div>
                                </div>
                                <button class="target">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.59375 1.78125C0.25 1.875 0 2.15625 0 2.5C0 10.5312 6.5 17 14.5 17C14.875 17 15.1562 16.7812 15.25 16.4375L16 13.1875C16.0625 12.8438 15.9062 12.4688 15.5625 12.3125L12.0625 10.8125C11.75 10.6875 11.4062 10.7812 11.1875 11.0312L9.625 12.9375C7.1875 11.7812 5.21875 9.78125 4.09375 7.40625L6 5.84375C6.25 5.625 6.34375 5.28125 6.21875 4.96875L4.71875 1.46875C4.5625 1.125 4.1875 0.9375 3.84375 1.03125L0.59375 1.78125Z"
                                            fill="white" />
                                    </svg>
                                    <span>Обратный звонок</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<section class="why">
    <div class="container">
        <div class="why__body">
            <h2>Почему именно мы?</h2>
            <div class="splide" id="why" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        <div class="item splide__slide">
                            <div class="wrap">
                                <img src="../images/dist/why/1.svg" alt="">
                            </div>
                            <div class="text">
                                <span>Работаем 24/7</span>
                                <p>Круглосуточная аварийная служба и экстренные <br> выезды специалистов для решения
                                    любых
                                    вопросов</p>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="wrap">
                                <img src="../images/dist/why/2.svg" alt="">

                            </div>
                            <div class="text">
                                <span>Лицензированы</span>
                                <p>Все необходимые лицензии МЧС России и сертификаты <br> соответствия для работы в
                                    сфере
                                    безопасности</p>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="wrap">
                                <img src="../images/dist/why/3.svg" alt="">

                            </div>
                            <div class="text">
                                <span>Широкая география</span>
                                <p>Работаем в Краснодарском крае, ЮФО, СКФО <br> и других регионах России</p>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="wrap">
                                <img src="../images/dist/why/4.svg" alt="">

                            </div>
                            <div class="text">
                                <span>Гарантия качества</span>
                                <p>Полная гарантия на все выполненные работы <br> и установленное оборудование</p>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="wrap">
                                <img src="../images/dist/why/5.svg" alt="">
                            </div>
                            <div class="text">
                                <span>Опытная команда</span>
                                <p>Команда профессионалов с многолетним опытом <br> в сфере безопасности</p>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="wrap">
                                <img src="../images/dist/why/6.svg" alt="">

                            </div>
                            <div class="text">
                                <span>Инновационные решения</span>
                                <p>Предлагаем нестандартные подходы для каждой <br> конкретной задачи</p>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="why-carousel-progress">
                    <div class="why-carousel-progress-bar"></div>
                </div>
            </div>
            <div class="why__body-block desk">
                <div class="item">
                    <div class="wrap">
                        <img src="../images/dist/why/1.svg" alt="">
                    </div>
                    <div class="text">
                        <span>Работаем 24/7</span>
                        <p>Круглосуточная аварийная служба и экстренные <br> выезды специалистов для решения любых
                            вопросов</p>
                    </div>
                </div>
                <div class="item">
                    <div class="wrap">
                        <img src="../images/dist/why/2.svg" alt="">

                    </div>
                    <div class="text">
                        <span>Лицензированы</span>
                        <p>Все необходимые лицензии МЧС России и сертификаты <br> соответствия для работы в сфере
                            безопасности</p>
                    </div>
                </div>
                <div class="item">
                    <div class="wrap">
                        <img src="../images/dist/why/3.svg" alt="">

                    </div>
                    <div class="text">
                        <span>Широкая география</span>
                        <p>Работаем в Краснодарском крае, ЮФО, СКФО <br> и других регионах России</p>
                    </div>
                </div>
                <div class="item">
                    <div class="wrap">
                        <img src="../images/dist/why/4.svg" alt="">

                    </div>
                    <div class="text">
                        <span>Гарантия качества</span>
                        <p>Полная гарантия на все выполненные работы <br> и установленное оборудование</p>
                    </div>
                </div>
                <div class="item">
                    <div class="wrap">
                        <img src="../images/dist/why/5.svg" alt="">
                    </div>
                    <div class="text">
                        <span>Опытная команда</span>
                        <p>Команда профессионалов с многолетним опытом <br> в сфере безопасности</p>
                    </div>
                </div>
                <div class="item">
                    <div class="wrap">
                        <img src="../images/dist/why/6.svg" alt="">

                    </div>
                    <div class="text">
                        <span>Инновационные решения</span>
                        <p>Предлагаем нестандартные подходы для каждой <br> конкретной задачи</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service">
    <div class="container">
        <div class="service__body">
            <div class="service__body-title">
                <h2>Наши услуги</h2>
                <p>Полный спектр услуг для комплексного обеспечения безопасности <br> вашего объекта</p>
            </div>
            <div class="service__body-soft">
                <div class="item">
                    <div class="item__top">
                        <div class="wrap">
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M28.125 1.6875C28.5625 1.625 29 1.9375 29 2.4375V9.625C29 10.125 28.5625 10.4375 28.125 10.375L17.625 8.625C16.875 8.5 17 7.6875 17 7.5H14.5V9.25C17.0625 9.875 19 12.25 19 15V30.5C19 31.375 18.3125 32 17.5 32H8.5C7.625 32 7 31.375 7 30.5V15.125C7 12.3125 8.875 9.875 11.5 9.25V7.5C7.625 7.5 5.6875 7.0625 3.875 11.5625C3.5625 12.375 2.6875 12.75 1.9375 12.4375C1.125 12.125 0.75 11.25 1.0625 10.5C2 8.1875 3.4375 5.625 6.6875 4.8125C5.8125 2.5 7.5 0 10 0C12.3125 0 14 2.3125 13.3125 4.5H17C17 4.25 16.875 3.5625 17.625 3.4375L28.125 1.6875ZM10 4.5C10.5 4.5 11 4.0625 11 3.5C11 3 10.5 2.5 10 2.5C9.4375 2.5 9 3 9 3.5C9 4.0625 9.4375 4.5 10 4.5Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="text">
                            <div class="text__wrap">
                                <h3>Пожарная безопасность</h3>
                                <p>Комплексные решения по обеспечению пожарной безопасности объектов любой сложности.
                                </p>
                            </div>
                            <p>Мы специализируемся на проектировании, разработке и установке современных систем охранной
                                и пожарной безопасности. Наша команда обеспечивает полное соответствие всем требованиям
                                ГОСТ и нормативам МЧС России.</p>
                        </div>
                    </div>
                    <div class="splide service_splide mob" role="group" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/1.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Пожарно-техническое обследование объекта</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/2.png) center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Проектирование пожарной сигнализации</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/3.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Монтаж систем противопожарной защиты</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/4.png) center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Разработка планов эвакуации по ГОСТ 34428-2018</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="service-carousel-progress">
                            <div class="service-carousel-progress-bar"></div>
                        </div>
                    </div>
                    <div class="items desk">
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/1.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Пожарно-техническое обследование объекта</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/2.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Проектирование пожарной сигнализации</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/3.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Монтаж систем противопожарной защиты</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/4.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Разработка планов эвакуации по ГОСТ 34428-2018</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__top">
                        <div class="wrap">
                            <svg width="36" height="32" viewBox="0 0 36 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21 4C22.625 4 24 5.375 24 7V25.0625C24 26.6875 22.625 28 21 28H2.9375C1.3125 28 0 26.6875 0 25.0625V7C0 5.375 1.3125 4 2.9375 4H21ZM32.8125 6.375C34.125 5.5 36 6.4375 36 8V24.0625C36 25.625 34.125 26.5625 32.8125 25.6875L26 20.9375V11.125L32.8125 6.375Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="text">
                            <div class="text__wrap">
                                <h3>Системы видеонаблюдения</h3>
                                <p>Современные системы видеонаблюдения для полного контроля территории</p>
                            </div>
                            <p>Устанавливаем IP и аналоговые камеры видеонаблюдения с возможностью удаленного просмотра
                                через мобильные приложения. Обеспечиваем запись, хранение и архивирование видеоданных.
                            </p>
                        </div>
                    </div>
                    <div class="splide service_splide mob" role="group" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/1.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Пожарно-техническое обследование объекта</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/2.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Проектирование пожарной сигнализации</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/3.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Монтаж систем противопожарной защиты</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/4.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Разработка планов эвакуации по ГОСТ 34428-2018</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="service-carousel-progress">
                            <div class="service-carousel-progress-bar"></div>
                        </div>
                    </div>
                    <div class="items desk">
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/5.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>IP и аналоговые камеры высокого разрешения</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/6.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Удаленный доступ через мобильные приложения</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/7.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Облачное хранение и резервное копирование</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/8.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Интеллектуальная видеоаналитика</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__top">
                        <div class="wrap">
                            <svg width="29" height="32" viewBox="0 0 29 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M28.125 1.6875C28.5625 1.625 29 1.9375 29 2.4375V9.625C29 10.125 28.5625 10.4375 28.125 10.375L17.625 8.625C16.875 8.5 17 7.6875 17 7.5H14.5V9.25C17.0625 9.875 19 12.25 19 15V30.5C19 31.375 18.3125 32 17.5 32H8.5C7.625 32 7 31.375 7 30.5V15.125C7 12.3125 8.875 9.875 11.5 9.25V7.5C7.625 7.5 5.6875 7.0625 3.875 11.5625C3.5625 12.375 2.6875 12.75 1.9375 12.4375C1.125 12.125 0.75 11.25 1.0625 10.5C2 8.1875 3.4375 5.625 6.6875 4.8125C5.8125 2.5 7.5 0 10 0C12.3125 0 14 2.3125 13.3125 4.5H17C17 4.25 16.875 3.5625 17.625 3.4375L28.125 1.6875ZM10 4.5C10.5 4.5 11 4.0625 11 3.5C11 3 10.5 2.5 10 2.5C9.4375 2.5 9 3 9 3.5C9 4.0625 9.4375 4.5 10 4.5Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="text">
                            <div class="text__wrap">
                                <h3>Охранная сигнализация</h3>
                                <p>Надежные охранные системы для защиты от несанкционированного доступа</p>
                            </div>
                            <p>Проектируем и устанавливаем охранные системы различной сложности с интеграцией
                                беспроводных и проводных датчиков, подключением к пультам централизованного наблюдения.
                            </p>
                        </div>
                    </div>
                    <div class="splide service_splide mob" role="group" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/1.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Пожарно-техническое обследование объекта</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/2.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Проектирование пожарной сигнализации</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/3.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Монтаж систем противопожарной защиты</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="items__element splide__slide">
                                    <div class="img"
                                        style="background: url(../images/dist/service/4.png)center no-repeat; background-size: cover;">
                                    </div>
                                    <div class="text">
                                        <h4>Разработка планов эвакуации по ГОСТ 34428-2018</h4>
                                        <button class="target">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="service-carousel-progress">
                            <div class="service-carousel-progress-bar"></div>
                        </div>
                    </div>
                    <div class="items desk">
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/9.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Беспроводные и проводные системы</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/10.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Интеграция с мобильными устройствами</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/11.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Датчики движения и вскрытия</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                        <div class="items__element">
                            <div class="img"
                                style="background: url(../images/dist/service/12.png)center no-repeat; background-size: cover;">
                            </div>
                            <div class="text">
                                <h4>Подключение к ПЦН</h4>
                                <button class="target">
                                    Заказать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="about__body">
            <div class="about__body-title">
                <h2>О компании</h2>
                <p>Профессионалы в области безопасности с многолетним опытом <br> работы</p>
            </div>
            <div class="about__body-block">
                <p>
                    Наша компания основана командой высококвалифицированных специалистов и предлагает широкий спектр
                    услуг в области противопожарной безопасности и инженерных решений. <br>
                    Мы постоянно улучшаем качество наших решений, удовлетворяя потребности современного рынка. Наша
                    команда профессионалов работает с полной самоотдачей, предлагая инновационные подходы и
                    нестандартные решения для каждой конкретной задачи.
                    <br><br>
                    С нашим многолетним опытом на рынке ЮФО, СКФО и в других регионах мы готовы гарантировать надежность
                    и эффективность всех наших услуг. Партнерство с ИП «Кулько» — это возможность оптимизировать ваши
                    расходы и сэкономить драгоценное время.
                </p>
                <ol>
                    <li>
                        Статус лицензии:
                        <span>Действующая</span>
                    </li>
                    <li>
                        Регистрационный номер лицензии:
                        <span>23-06-2024-003584 (Л014-00101-23/01473751)</span>
                    </li>
                    <li>
                        Дата предоставления лицензии:
                        <span>02.11.2024</span>
                    </li>
                    <li>
                        Фамилия, имя и отчество индивидуального предпринимателя:
                        <span>Кулько Евгений Александрович</span>
                    </li>
                    <li>
                        Идентификационный номер налогоплательщика:
                        <span>233610392768</span>
                    </li>
                    <li>
                        Лицензируемый вид деятельности:
                        <span>Деятельность по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной
                            безопасности зданий и сооружений</span>
                    </li>
                </ol>
                <div class="wrap">
                    <span>
                        Наши ключевые принципы:
                    </span>
                    <ul>
                        <li>Профессионализм и качество как основа бизнеса</li>
                        <li>Индивидуальный подход к каждому клиенту</li>
                        <li>Постоянное совершенствование технологий и методов работы</li>
                        <li>Ответственность за результат</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="client">
    <div class="container">
        <div class="client__body">
            <h2>
                Отрасли наших клиенты
            </h2>
            <div class="splide service_splide mob" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        <div class="item splide__slide">
                            <div class="img"
                                style="background: url(../images/dist/client/1.png) center no-repeat; background-size: cover;">
                            </div>
                            <div class="info">
                                <div class="wrap">
                                    <span>Промышленность</span>
                                    <p>более 7,000 проектов</p>
                                </div>
                                <span class="procent">28%</span>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="img"
                                style="background: url(../images/dist/client/2.png) center no-repeat; background-size: cover;">
                            </div>
                            <div class="info">
                                <div class="wrap">
                                    <span>Офисные центры</span>
                                    <p>более 5,500 проектов</p>
                                </div>
                                <span class="procent">22%</span>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="img"
                                style="background: url(../images/dist/client/3.png) center no-repeat; background-size: cover;">
                            </div>
                            <div class="info">
                                <div class="wrap">
                                    <span>Торговля</span>
                                    <p>более 4,500 проектов</p>
                                </div>
                                <span class="procent">18%</span>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="img"
                                style="background: url(../images/dist/client/4.png) center no-repeat; background-size: cover;">
                            </div>
                            <div class="info">
                                <div class="wrap">
                                    <span>Медицина</span>
                                    <p>более 3,000 проектов</p>
                                </div>
                                <span class="procent">12%</span>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="img"
                                style="background: url(../images/dist/client/5.png) center no-repeat; background-size: cover;">
                            </div>
                            <div class="info">
                                <div class="wrap">
                                    <span>Образование</span>
                                    <p>более 2,750 проектов</p>
                                </div>
                                <span class="procent">11%</span>
                            </div>
                        </div>
                        <div class="item splide__slide">
                            <div class="img"
                                style="background: url(../images/dist/client/6.png) center no-repeat; background-size: cover;">
                            </div>
                            <div class="info">
                                <div class="wrap">
                                    <span>Госсектор</span>
                                    <p>более 2,250 проектов</p>
                                </div>
                                <span class="procent">9%</span>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="service-carousel-progress">
                    <div class="service-carousel-progress-bar"></div>
                </div>
            </div>
            <div class="client__body-block desk">
                <div class="item">
                    <div class="img"
                        style="background: url(../images/dist/client/1.png) center no-repeat; background-size: cover;">
                    </div>
                    <div class="info">
                        <div class="wrap">
                            <span>Промышленность</span>
                            <p>более 7,000 проектов</p>
                        </div>
                        <span class="procent">28%</span>
                    </div>
                </div>
                <div class="item">
                    <div class="img"
                        style="background: url(../images/dist/client/2.png) center no-repeat; background-size: cover;">
                    </div>
                    <div class="info">
                        <div class="wrap">
                            <span>Офисные центры</span>
                            <p>более 5,500 проектов</p>
                        </div>
                        <span class="procent">22%</span>
                    </div>
                </div>
                <div class="item">
                    <div class="img"
                        style="background: url(../images/dist/client/3.png) center no-repeat; background-size: cover;">
                    </div>
                    <div class="info">
                        <div class="wrap">
                            <span>Торговля</span>
                            <p>более 4,500 проектов</p>
                        </div>
                        <span class="procent">18%</span>
                    </div>
                </div>
                <div class="item">
                    <div class="img"
                        style="background: url(../images/dist/client/4.png) center no-repeat; background-size: cover;">
                    </div>
                    <div class="info">
                        <div class="wrap">
                            <span>Медицина</span>
                            <p>более 3,000 проектов</p>
                        </div>
                        <span class="procent">12%</span>
                    </div>
                </div>
                <div class="item">
                    <div class="img"
                        style="background: url(../images/dist/client/5.png) center no-repeat; background-size: cover;">
                    </div>
                    <div class="info">
                        <div class="wrap">
                            <span>Образование</span>
                            <p>более 2,750 проектов</p>
                        </div>
                        <span class="procent">11%</span>
                    </div>
                </div>
                <div class="item">
                    <div class="img"
                        style="background: url(../images/dist/client/6.png) center no-repeat; background-size: cover;">
                    </div>
                    <div class="info">
                        <div class="wrap">
                            <span>Госсектор</span>
                            <p>более 2,250 проектов</p>
                        </div>
                        <span class="procent">9%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="certificate">
    <div class="container">
        <div class="certificate__body">
            <h2>
                Сертификаты
            </h2>
            <div class="splide service_splide mob" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        <div class="item splide__slide"
                            style="background: url(../images/dist/certificate/1.png) center no-repeat; background-size: cover;">
                        </div>
                        <div class="item splide__slide"
                            style="background: url(../images/dist/certificate/2.png) center no-repeat; background-size: cover;">
                        </div>
                        <div class="item splide__slide"
                            style="background: url(../images/dist/certificate/3.png) center no-repeat; background-size: cover;">
                        </div>
                    </ul>
                </div>
                <div class="service-carousel-progress">
                    <div class="service-carousel-progress-bar"></div>
                </div>
            </div>
            <div class="certificate__body-block desk">
                <div class="item"
                    style="background: url(../images/dist/certificate/1.png) center no-repeat; background-size: cover;">
                </div>
                <div class="item"
                    style="background: url(../images/dist/certificate/2.png) center no-repeat; background-size: cover;">
                </div>
                <div class="item"
                    style="background: url(../images/dist/certificate/3.png) center no-repeat; background-size: cover;">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feedback" id="feedback">
    <div class="container">
        <div class="feedback__body">
            <div class="main">
                <div class="text">
                    <h2>Обратный звонок</h2>
                    <p>Наш специалист перезвонит вам, чтобы рассказать о компании
                        и ответить на возникшие вопросы</p>
                </div>
                <form action="">
                    <input placeholder="Как вас зовут?" name="name" type="text" required>
                    <input placeholder="Ваш телефон" name="phone" type="tel" required>
                    <input placeholder="Ваш email" name="email" type="email" required>
                    <input placeholder="Выберите услугу" name="service" type="text" required>
                    <textarea placeholder="Опишите ва объект: площадь, назначение, особенности" name="description"
                        required></textarea>
                    <div class="checkboxes">
                        <div class="item">
                            <input type="checkbox" name="tg">
                            <span></span>
                            <p>Написать в Telegram</p>
                        </div>
                        <div class="item">
                            <input type="checkbox" name="wt">
                            <span></span>
                            <p>Написать в WhatsApp</p>
                        </div>
                        <div class="item">
                            <input type="checkbox" name="policy">
                            <span></span>
                            <p>Я даю свое согласие на обработку персональных данных</p>
                        </div>
                    </div>
                    <button type="submit">
                        Отправить
                    </button>
                </form>
            </div>
            <div class="img"
                style="background: url(../images/dist/feedback.png) center no-repeat; background-size: cover;"></div>
        </div>
    </div>
</section>
<section class="where">
    <div class="container">
        <div class="where__body">
            <div class="where__body-top">
                <h2>Где нас найти</h2>
                <div class="action">
                    <div class="number">
                        <span>Номер для связи</span>
                        <a href="">+7 918 345-63-21</a>
                    </div>
                    <button class="target">
                        Заказать звонок
                    </button>
                </div>
            </div>
            <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A30528048b9a4f8fcd162942d511d3b7a4c6532699e2ec69b851aa49c8f482abd&amp;source=constructor"></iframe>
        </div>
    </div>
</section>